.full_container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position:relative;
  text-align: center;
  padding: 40px 0px;
}
.view {
  width: 240px;
  height: 200px;
  margin: 5px;
  soverflow: hidden;
  display: inline-block;
  position: relative;
  text-align: center;
}
.view .mask,.view .content {
  width: 240px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view img {
  display: block;
  position: relative;
}
.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}
.view p {
  position: relative;
  padding: 10px 10px 10px;
  text-align: center;
}

.view p a {
  width:95%;
  margin-bottom: 3px;
}

.view p a span {
  font-size: 11px;
}

.view-first img {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.view-first .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: rgba(45,45,45, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.view-first h2 {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.view-first p {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.view-first:hover img {
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.view-first:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.view-first:hover p {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.btn_more {
  cursor: pointer;
  padding-top: 32px;
  font-size: 1.2em;
  text-transform: uppercase;
  width: 100%;
  border: medium none;
  background: none repeat scroll 0% 0% transparent;
  іcolor: #C1C1C1;
}
.model_list{
  overflow: hidden;
  height:200px;
  transition:all 1s;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
}

.dealer_contact {
  position: absolute;
  z-index: 100;
  margin-top: 50px;
  width: 490px;
  right: 50px;
  float: right;
  opacity: 0.5;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}

.dealer_contact:hover {
  opacity: 1.0;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}

.dealer_contact .select_styled{
  width:187px;
}

.dealer_contact .col_1 {
  float: left;
  width: 475px;
}

.dealer_contact .row {
  padding-top: 10px;
}

div.alert-message {
  display: block;
  padding: 13px 12px 12px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #2ba6cb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  position: relative;
}
div.alert-message .box-icon {
  display: block;
  float: left;
  background-image: url('/images/icon.png');
  width: 30px;
  height: 25px;
  margin-top: -2px;
  background-position: -8px -8px;
}
div.alert-message p {
  margin: 0px;
}
div.alert-message.success {
  background-color: #5da423;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.success .box-icon {
  background-position: -48px -8px;
}
div.alert-message.warning {
  background-color: #e3b000;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.warning .box-icon {
  background-position: -88px -8px;
}
div.alert-message.error {
  background-color: #c60f13;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.error .box-icon {
  background-position: -128px -8px;
}
div.alert-message a.close {
  color: #333;
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 17px;
  opacity: 0.2;
  padding: 4px;
}
div.alert-message a.close:hover, div.alert-box a.close:focus {
  opacity: 0.4;
}

.modal_load {
  display:    none;
  position:   fixed;
  z-index:    10;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 0, 0, 0, .5 ) url('/images/ajax-loader.gif')  50% 50% no-repeat;
}

body.loading {
  ovesrflow: hidden;
}

body.loading .modal_load {
  display: block;
}

.feature_icon {
  width: 23px;
  height: 23px;
}

.feature_icon.yes {
  background: url("/images/icons/icon_check2.png") no-repeat scroll 0px 1px transparent;
}

.feature_icon.no {
  background: url("/images/icons/icon_x2.png") no-repeat scroll 0px 1px transparent;
}
