<% photos.each do |photo| %>
<div class="gallery_image_item" style='width: 580px;'>
  <img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt="">
  <a href="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" data-rel="prettyPhoto[gal]">
  <span style='width: 580px;'><%= photo.name %><em class="ico_large"></em></span></a>
</div>
<% end %>
