<!-- header -->
<div class="header header_thin" style="background-image:url(http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg)">

  <div class="header_title">
    <h1><span>STC</span> <%=@car.name %> - <%= @car.year %></h1>
  </div>

</div>
<!--/ header -->

<!-- middle -->
<div id="middle" class="full_width">
  <div class="container clearfix">

    <!-- content -->
    <div class="content">

      <div class="offer_details clearfix" style='padding-bottom: 25px;'>
        <!-- offer left -->
        <div class="offer_gallery" style='width: 580px;'>
          <div class="gallery_images" style='width: 580px;'>
            <div id="gallery_images">
              <div class="gallery_image_item" style='width: 580px;'>
                <img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt="">
                <a href="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" data-rel="prettyPhoto[gal]">
                  <span style='width: 580px;'>Exterior view - 20” rims and inteligent headlights <em class="ico_large"></em></span></a>
                </div>
                <div class="gallery_image_item" style='width: 580px;'>
                  <img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt="">
                  <a href="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" data-rel="prettyPhoto[gal]">
                    <span style='width: 580px;'>7G-Tronic Plus seven-speed automatic transmission <em class="ico_large"></em></span></a>
                  </div>
                  <div class="gallery_image_item" style='width: 580px;'>
                    <img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt="">
                    <a href="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" data-rel="prettyPhoto[gal]"></a> <!-- example without caption -->
                  </div>

                </div>
              </div>

              <div class="gallery_thumbs">
                <div id="gallery_thumbs">
                  <a href="#"><img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt=""></a>
                  <a href="#"><img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt=""></a>
                  <a href="#"><img src="http://img3.avtolog.com/blog/g/nissan-micra.131691619993.jpg" alt=""></a>
                </div>
                <a href="#" class="prev" id="gallery_thumbs_prev"></a>
                <a href="#" class="next" id="gallery_thumbs_next"></a>
              </div>

              <script>
              jQuery(document).ready(function($) {
                function carGalleryInit() {
                  $('#gallery_thumbs').children().each(function(i) {
                    $(this).addClass( 'itm'+i );
                    $(this).click(function() {
                      $('#gallery_images').trigger('slideTo',[i, 0, true]);
                      $('#gallery_thumbs a').removeClass('selected');
                      $(this).addClass('selected');
                      return false;
                    });
                  });
                  $('#gallery_thumbs a.itm0').addClass('selected');

                  $('#gallery_images').carouFredSel({
                    infinite: false,
                    circular: false,
                    auto: false,
                    width: '100%',
                    scroll: {
                      items : 1,
                      fx : "crossfade"
                    }
                  });
                  $('#gallery_thumbs').carouFredSel({
                    prev : "#gallery_thumbs_prev",
                    next : "#gallery_thumbs_next",
                    infinite: false,
                    circular: false,
                    auto: false,
                    width: '100%',
                    scroll: {
                      items : 1
                    }
                  });
                }

                $(window).load(function() {
                  carGalleryInit();
                });
                var resizeTimer;
                $(window).resize(function() {
                  clearTimeout(resizeTimer);
                  resizeTimer = setTimeout(carGalleryInit, 100);
                });
              });
            </script>

          </div>
          <!--/ offer left -->
          <!-- offer right -->
          <div class="offer_aside" style='width: 330px;'>
            <div class="offer_price" style='margin-top: 15px; margin-bottom: 15px;'>
              <strong>*** ***  -  *** *** грн.</strong><br>
            </div>

            <div class="special_offers" style='width: 330px; height: 417px;'>
              <h2>Комплектації</h2>

              <div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 330px; height: 365px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
                <div style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; z-index: auto; height: 1885px; width: 330px;" id="special_offers">

                  <div class="special_item" style='height: 110px;'>
                    <div class="special_text" style='width: 304px; height: 90px;'>
                      <h3><a style="outline: medium none;" hidefocus="true" href="offers-details.html">CONFIGURATION NAME 1</a></h3>
                      <div class="info_row"><span>Двигун:</span> Бензиновий 1.2</div>
                      <div class="info_row"><span>Коробка передач:</span> Автоматична(6)</div>
                      <div class="special_price">*** *** грн.</div>
                    </div>
                  </div>

                  <div class="special_item" style='height: 110px;'>
                    <div class="special_text" style='width: 304px; height: 90px;'>
                      <h3><a style="outline: medium none;" hidefocus="true" href="offers-details.html">CONFIGURATION NAME 2</a></h3>
                      <div class="info_row"><span>Двигун:</span> Бензиновий 1.2</div>
                      <div class="info_row"><span>Коробка передач:</span> Автоматична(6)</div>
                      <div class="special_price">*** *** грн.</div>
                    </div>
                  </div>

                  <div class="special_item" style='height: 110px;'>
                    <div class="special_text" style='width: 304px; height: 90px;'>
                      <h3><a style="outline: medium none;" hidefocus="true" href="offers-details.html">CONFIGURATION NAME 3</a></h3>
                      <div class="info_row"><span>Двигун:</span> Бензиновий 1.2</div>
                      <div class="info_row"><span>Коробка передач:</span> Автоматична(6)</div>
                      <div class="special_price">*** *** грн.</div>
                    </div>
                  </div>

                  <div class="special_item" style='height: 110px;'>
                    <div class="special_text" style='width: 304px; height: 90px;'>
                      <h3><a style="outline: medium none;" hidefocus="true" href="offers-details.html">CONFIGURATION NAME 4</a></h3>
                      <div class="info_row"><span>Двигун:</span> Бензиновий 1.2</div>
                      <div class="info_row"><span>Коробка передач:</span> Автоматична(6)</div>
                      <div class="special_price">*** *** грн.</div>
                    </div>
                  </div>

                  <div class="special_item" style='height: 110px;'>
                    <div class="special_text" style='width: 304px; height: 90px;'>
                      <h3><a style="outline: medium none;" hidefocus="true" href="offers-details.html">CONFIGURATION NAME 5</a></h3>
                      <div class="info_row"><span>Двигун:</span> Бензиновий 1.2</div>
                      <div class="info_row"><span>Коробка передач:</span> Автоматична(6)</div>
                      <div class="special_price">*** *** грн.</div>
                    </div>
                  </div>


                </div>
              </div>
              <a style="outline: medium none; display: block; right: 0px;" hidefocus="true" class="prev" id="special_offers_prev" href="#"></a>
              <a style="outline: medium none; display: block; right: 0px;" hidefocus="true" class="next" id="special_offers_next" href="#"></a>
              <script>
                jQuery(document).ready(function($) {
                  function carSpecicalInit() {
                    var car_specical = $('#special_offers');
                    car_specical.carouFredSel({
                      prev : "#special_offers_prev",
                      next : "#special_offers_next",
                      infinite: true,
                      circular: false,
                      auto: false,
                      width: '100%',
                      direction: "down",
                      scroll: {
                        items : 1
                      }
                    });
                  }
                  $(window).load(function() {
                    carSpecicalInit();
                  });
                  var resizeTimer;
                  $(window).resize(function() {
                    clearTimeout(resizeTimer);
                    resizeTimer = setTimeout(carSpecicalInit, 100);
                  });
                });
              </script>
            </div>

          </div>
          <!--/ offer right -->
        </div>

        <!-- details tabs -->
        <div class="details_tabs">
          <ul class="tabs linked">
            <li><a href="#t_tab" style="min-width: auto;padding: 0px 15px;"><span>Безпека</span></a></li>
            <li><a href="#t_tab" style="min-width: auto;padding: 0px 15px;"><span>Технології</span></a></li>
            <li><a href="#t_tab" style="min-width: auto;padding: 0px 15px;"><span>Двигун та трансмісія</span></a></li>
            <li><a href="#t_tab" style="min-width: auto;padding: 0px 15px;"><span>Динамічні</span></a></li>
            <li><a href="#t_tab" style='min-width: auto;padding: 0px 15px;'><span>Зовнішні</span></a></li>
            <li style='padding-right: 0px;float:right; background: url("/images/tabs_line.gif") repeat-y scroll left center transparent;'>
              <a href="#t_dealers" onClick="mapLoad();" style='min-width: auto;padding: 0px 15px;'>
                <span style='background: url("/images/icons/icon_location.png") no-repeat scroll right 0px transparent;
                padding-right: 25px;'>Дилери</span>
              </a>
            </li>

          </ul>


          <div id="t_tab1" class="tabcontent clearfix" style='padding:5px;'>
            <div class="styled_table table_blue">
              <table style='border: 0;'>
                <tbody>
                  <tr>
                    <td>Антиблокувальна система тормозів (ABS)</td>
                    <td><div style='width: 23px; height: 23px;background: url("images/icons/icon_check2.png") no-repeat scroll 0px 1px transparent;'> </div></td>
                  </tr>

                  <tr>
                    <td>Датчик світла</td>
                    <td><div style='width: 23px; height: 23px;background: url("images/icons/icon_x2.png") no-repeat scroll 0px 1px transparent;'> </div></td>
                  </tr>

                  <tr>
                    <td>Датчик дождю</td>
                    <td><div style='width: 23px; height: 23px;background: url("images/icons/icon_x2.png") no-repeat scroll 0px 1px transparent;'> </div></td>
                  </tr>

                  <tr>
                    <td>Передні подушки безпеки</td>
                    <td><div style='width: 23px; height: 23px;background: url("images/icons/icon_check2.png") no-repeat scroll 0px 1px transparent;'> </div></td>
                  </tr>

                  <tr>
                    <td>Централньий замок з дистанційним керуванням</td>
                    <td><div style='width: 23px; height: 23px;background: url("images/icons/icon_x2.png") no-repeat scroll 0px 1px transparent;'> </div></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div id="t_tab2" class="tabcontent clearfix">
            <div class="col col_1_8">
              <h3>Interior Features 2</h3>
              <ul>
                <li>Full Leather Interior</li>
                <li>Central locking</li>
                <li>Automatic air conditioning</li>
              </ul>
            </div>
          </div>

          <div id="t_tab3" class="tabcontent clearfix">
            <div class="col col_1_8">
              <h3>Interior Features 3</h3>
              <ul>
                <li>Full Leather Interior</li>
                <li>Central locking</li>
                <li>Automatic air conditioning</li>
              </ul>
            </div>
          </div>

          <div id="t_tab4" class="tabcontent clearfix">
            <div class="col col_1_8">
              <h3>Interior Features 4</h3>
              <ul>
                <li>Full Leather Interior</li>
                <li>Central locking</li>
                <li>Automatic air conditioning</li>
              </ul>
            </div>
          </div>

          <div id="t_tab5" class="tabcontent clearfix">
            <div class="col col_1_8">
              <h3>Interior Features 5</h3>
              <ul>
                <li>Full Leather Interior</li>
                <li>Central locking</li>
                <li>Automatic air conditioning</li>
              </ul>
            </div>
          </div>

          <div id="t_dealers" class="tabcontent clearfix" style='height:400px; padding:0px; padding-top:1px;'>
          </div>
        </div>



      </div>
      <!--/ content -->
    </div>
  </div>
  <!--/ middle -->
