<div class="styled_table table_blue">
  <table style='border: 0;'>
    <tbody>
      <% features.each_with_index do |c_feature, i| %>
        <tr<%= (( (i+1) % 2 == 0 ) ? ' class=odd' : '') %>>
          <td><%= c_feature.feature.name %></td>
          <td><div class="feature_icon <%= ( ( c_feature.status) ? 'yes' : 'no') %>"> </div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
