<div class="footer">
  <div class="container clearfix">
    <div class="footer_contacts">
      <span class="phone">0 800 000 000</span>
      <span class="email">support@auto-stc.com</span>
    </div>

    <div class="copyright">
      © 2015 Korol Olexander
    </div>
  </div>
</div>
