<div class="header_top">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>

    <nav id="topmenu" class="clearfix">
      <ul class="dropdown">
        <li class="menu-level-0 current-menu-ancestor"><a href="#"><span>Головна</span></a></li>
        <li class="menu-level-0 current-menu-ancestor"><a href="#"><span>МЕНЮ<span></a></li>
        <li class="menu-level-0 current-menu-ancestor"><a href="#"><span>МЕНЮ<span></a></li>
        <li class="menu-level-0 current-menu-ancestor"><a href="#"><span>МЕНЮ<span></a></li>

        <li class="menu-level-0"><a href='/dealers/'><span>Дилери</span></a></li>
      </ul>
    </nav>
  </div>
</div>
